{% import 'macros/form.html' as form %}

{% set placeholder = 'Please enter a search term e.g. environment' if type == 'dataset' else 'Search {type}s...'.format(type=type) %}
{% set sorting = [(_('Relevance'), 'score desc'), (_('Last Modified'), 'data_last_modified desc'), (_('Name (A-Z)'), 'dfl_title_sort asc'), (_('Name (Z-A)'), 'dfl_title_sort desc')] %}
{% set search_class = search_class if search_class else 'search-giant' %}
{% set no_bottom_border = no_bottom_border if no_bottom_border else false %}
{% set form_id = form_id if form_id else false %}
{% set aria_label = 'Search datasets' %}

<form {% if form_id %}id="{{ form_id }}" {% endif %}class="search-form{% if no_bottom_border %} no-bottom-border{% endif %}" method="get" data-module="select-switch">
    <div class="search-header">
        <div class="search-header__title">
        {% block search_title %}
        {% if not error %}
        <div>{% snippet 'snippets/search_result_text.html', query=query, count=count, type=type, title_override=title_override %}</div>
        {% else %}
        <h2>Error</h2>
        {% endif %}
        {% endblock %}
        </div>
    </div>

{% block search_input %}
<div class="input-group search-input-group">
    <input aria-label="{% block header_site_search_label %}{{ aria_label }}{% endblock %}" id="field-giant-search" type="text" class="form-control input-lg" name="q" value="{{ query }}" autocomplete="off" placeholder="{{ placeholder }}">
    {% block search_input_button %}
    <span class="input-group-btn">
    <button class="btn btn-default btn-lg" type="submit" value="search" aria-label="{{_('Submit')}}">
        <i class="fa fa-search"></i>
    </button>
    </span>
    {% endblock %}
</div>
{% endblock %}
    <div class="search-header__order">
        {% block search_sortby %}
        {% if sorting and type == 'dataset' %}
        <label style="pointer-events:none;" id="order-by-label">{{ _('Order by') }}</label>
              {% for label, value in sorting %}
                {% if label and value %}
                    {% set is_selected = sorting_selected.split(",")[0] == value if sorting_selected else false %}
                    {% if loop.index != 1 %} |{% endif %}
                    <a href={{ h.remove_url_param("sort", replace=value)}}
                        class="
                        {% if is_selected %} selected {% endif %}
                        "
                        aria-labelledby="order-by-label"
                    >{{ label }}</a>
                {% endif %}
              {% endfor %}
        {% endif %}
      {% endblock %}
    </div>


  {% block search_search_fields %}
    {% if fields -%}
      <span>{{ form.hidden_from_list(fields=fields) }}</span>
    {%- endif %}
  {% endblock %}

  {% block search_facets %}
    {% if facets %}
      <p class="filter-list">
        {% for field in facets.fields %}
          {% set search_facets_items = facets.search.get(field)['items'] if facets.search and field in facets.search else [] %}
          <span class="facet">{{ facets.titles.get(field) }}:</span>
          {% for value in facets.fields[field] %}
            <span class="filtered pill">
              {%- if facets.translated_fields and (field,value) in facets.translated_fields -%}
                {{ facets.translated_fields[(field,value)] }}
              {%- else -%}
                {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', value) }}
              {%- endif %}
              <a href="{{ facets.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
            </span>
          {% endfor %}
        {% endfor %}
      </p>
      <a class="show-filters btn btn-default">{{ _('Filter Results') }}</a>
    {% endif %}
  {% endblock %}

</form>

{% if show_empty and count == 0 and not error %}
  {% trans %}
    <p class="extra"><strong>There are no matching results.</strong></p>
    <p>Please try searching again. You may improve your results by</p>
    <ul>
      <li>Double-checking your spelling</li>
      <li>Using fewer words</li>
      <li>Using more general words</li>
      <li>Removing filters</li>
    </ul>

    <p>Still not finding what you expect? Please <a href="mailto:datastore@london.gov.uk">send us an email</a> and we'll do our best to help.</p>
  {% endtrans %}
{% endif %}

{% if error %}
  {% trans %}
    <p id="search-error"><strong>There was an error while searching.</strong> Please try again.</p>
  {% endtrans %}
{% endif %}
