{% ckan_extends %}


{% block htmltag %}<html lang="en-GB">{% endblock %}


{% set title = h.get_site_title(request) %}
{% block title %}
{% if title %}
    {{ title }}
{% else %}
    {{ super() }}
{% endif %}
{% endblock %}

{% block custom_styles %}
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="stylesheet" href="/gla.css" />
{% endblock %}

{% block meta %}
    {{ super() }}
    <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block head_extras %}
    <!--Form Validation -->
    <script src="/vendor/just-validate.production.min.js"></script>
    <script src="/js/form-control.js"></script>
    <!--End Form Validation -->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NSHK6JGC');</script> 
    <!-- End Google Tag Manager -->
{{ super() }}
{% endblock %}
