{% extends "user/dashboard.html" %}

{% block subtitle %}
Followed Datasets {{ g.template_title_delimiter }} {{ user.display_name }} {{ g.template_title_delimiter }} {{ _('Users') }}{{ g.site_title }}
{% endblock %}


{% block primary_content_inner %}

<div data-module="dashboard">
    <section class="module">
        <div class="">
            {% if unregistered %}
            {{_('You need to register an account before you can follow datasets.')}}
            {% else %}
            {% if packages|length > 0 %}
            <div class>
                <ul class="{{ list_class or 'dataset-list list-unstyled' }}">
                    {% for package in packages %}
                    {% snippet 'snippets/package_item.html', package=package, item_class=item_class, hide_resources=hide_resources %}
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            {{_('You are not currently following any datasets')}}
            {% endif %}
            {% endif %}
        </div>
    </section>
</div>

{# Hidden elements #}
{# These are need because ckan make javascript queries for them in ckan/ckanext/activity/assets/dashboard.js. #}
{# If they are missing, js errors are thrown, causing the follow/unfollow dataset buttons to break #}
<div id="followee-filter" hidden><button class="btn" hidden></button></div>
<div id="followee-content" hidden></div>

{% endblock %}
