{% ckan_extends %}

{% block package_basic_fields_title %}
{{
    form.input('title',
        id='field-title',
        label=_('Title'),
        placeholder=_('eg. A descriptive title'),
        value=data.title,
        classes=['control-full',
        'control-large'],
        attrs={'data-module': 'slug-preview-target', 'class': 'form-control'})
}}
{% endblock %}

{% block package_basic_fields_description %}
{{
    form.markdown('notes',
        id='field-notes',
        label=_('Description'),
        placeholder=_('eg. Some useful notes about the data'),
        value=data.notes,
        attrs={'class': 'form-control'})
}}
{% endblock %}

{% block package_basic_fields_tags %}
{% set tag_attrs = {'data-module': 'autocomplete',
                    'data-module-tags': '',
                    'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
{{
    form.input('tag_string',
        id='field-tags',
        label=_('Tags'),
        value=data.tag_string,
        classes=['control-full'],
        attrs=tag_attrs)
}}
{% endblock %}

{% block package_metadata_fields_visibility %}
  <div class="form-group control-medium">
    <label for="field-private" class="form-label">{{ _('Visibility') }}</label>
    <div class="controls">
      <select id="field-private" name="private" class="form-control">
        {% for option in [('False', _('Public')), ('True', _('Private'))] %}
        <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected" {% endif %}>{{option[1]}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% endblock %}

{% block package_basic_fields_custom %}
{{
    form.input("data_quality",
       label=_("Data Quality"),
       id="field-data_quality",
       placeholder=_("data quality"),
       value=data.data_quality,
       error=errors.data_quality,
       classes=["control-medium"])
}}

{{
    form.input("dataset_boost",
        label=_("Boost factor"),
        id="field-dataset_boost",
        placeholder=_("boost factor"),
        value=data.dataset_boost,
        error=errors.dataset_boost,
        classes=["control-medium"],
        is_required=true)
}}
{{
    form.checkbox("archived",
        id="field-dataset-archived",
        label=_("Archive dataset"),
        value="true",
        checked=data.archived == 'true',
        classes=["control-medium"])
}}
{{
    form.textarea("archived_description",
        id="field-dataset-archived-desc",
        label=_("Reason for archiving"),
        value=data.archived_description,
        placeholder=_("Reason for archiving"),
        error=errors.archived_description,
        classes=["control-medium"])
}}

{{
    form.input("project_name",
        id="field-project-name",
        label=_("Project name"),
        value=data.project_name,
        error=errors.project_name,
        classes=["control-medium"])
}}

{{
    form.input("project_url",
        id="field-project-url",
        type="url",
        label=_("Project url"),
        value=data.project_url,
        error=errors.project_url,
        classes=["control-medium"])
}}
{{
    form.select("entry_type",
        id="field-entry-type",
        label=_("Type"),
        options=[{"value": "dataset", "text": "Dataset"}, {"value": "analysis", "text": "Analysis"}],
        selected=data.entry_type if data.entry_type else "dataset",
        is_required=true,
        classes=["control-medium"],
        error=errors.entry_type)

}}

{{
    form.textarea("search_description",
        id="field-search-desc",
        label=_("Search description"),
        value=data.search_description,
        error=errors.search_description,
        classes=["control-medium"])
}}



{% endblock %}
