<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">
        <p><strong>{{ h.resource_display_name(res) | truncate(50) }}</strong></p>

        {% if res.description %}
            <p>
                {{ h.markdown_extract(h.get_translated(res, 'description')) }}
            </p>
        {% endif %}

        <details>
            <summary class="gla-details__summary">More details</summary>
            <div class="gla-details__content">
                {% set data_modified=res.created %}
                {% if res.last_modified %}
                    {% set data_modified=res.last_modified %}
                {% endif %}

                {% set metadata_modified=res.created %}
                {% if res.metadata_modified %}
                    {% set metadata_modified=res.metadata_modified %}
                {% endif %}

                {% set format= res.format or res.mimetype_inner or res.mimetype %}

                <dl class="govuk-summary-list"></dl>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Data last updated
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=data_modified %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Created
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=res.created %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__key">
                        Licence
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if pkg.license_title %}
                          {{pkg.license_title}}
                        {% else %}
                          Unknown Licence
                        {% endif %}
                    </dd>
                </div>
                </dl>
            </div>
        </details>
    </td>

    <td class="govuk-table__cell">
        {% if res.format %}
            {{ h.get_translated(res, 'format') }}
        {% endif %}
    </td>

    <td class="govuk-table__cell" style="white-space: nowrap;">
        {% if res.size %}
            {{ h.humanise_file_size(res.size) }}
        {% endif %}
    </td>

    <td class="govuk-table__cell" style="white-space: nowrap;">
        {% if res.temporal_coverage_from %}
            {{ res.temporal_coverage_from }}
        {% endif %}
    </td>

   <td class="govuk-table__cell" style="white-space: nowrap;">
       {% if res.temporal_coverage_to %}
          {{ res.temporal_coverage_to }}
       {% endif %}
    </td>

    <td class="govuk-table__cell">
        <a href="{{ res.url }}" class="btn btn-default">Download</a>
    </td>
</tr>
