{% import 'macros/form.html' as form %}

{% set username_error = true if error_summary %}
{% set password_error = true if error_summary %}

{% block form %}
<form action="{{ action }}" method="post">
    {{ h.csrf_input() }}
    {{ form.errors(errors=error_summary) }}

    {% block core_fields %}
      {% block required_core_fields %}

        {{ form.input('login', label=_("Username or Email"), id='field-login', value="", error=username_error, classes=["control-medium"], attrs={'class': 'form-control', 'autocomplete': 'username', 'required': 'true'}, is_required=True) }}

        {{ form.input('password', label=_("Password"), id='field-password', type="password", value="", error=password_error, classes=["control-medium"], attrs={'class': 'form-control', 'autocomplete': 'current-password', 'required': 'true'}, is_required=True) }}
      {% endblock %}
    {% endblock %}

    <div class="form-actions">
      <span aria-hidden="true" class="control-required-message">
        <span class="control-required">*</span> Required field
      </span>

        {% block login_button %}
        <button class="btn btn-primary" type="submit">{{ _('Submit') }}</button>
        {% endblock %}
    </div>
</form>
{% endblock %}
