{% ckan_extends %}

{# Workaround in case harvest_source_title doesn't get pulled out of extras #}
{# variables set inside for loops dont exist outside the loop: https://jinja.palletsprojects.com/en/3.0.x/templates/#assignments  #}
{% set harvest_source_title = pkg.harvest_source_title %}
{% if harvest_source_title|length == 0 %}
    {% set harvest_source_title = h.get_pkg_dict_extra(pkg_dict=pkg_dict, key='harvest_source_title') %}
{% endif %}

{% block page_heading %}

{{ super() }}
    <br/>
    {% if pkg.archived == 'true' %}
        [{{_('Archived')}}]
    {% endif %}
    <span class="large-follow-button">
         {{ h.follow_button('dataset', pkg.id) }}
    </span>
{% endblock %}

{% block package_notes %}
    {% set created=h.render_datetime(h.get_pkg_dict_extra(pkg_dict=pkg_dict, key='upstream_metadata_created')) %}
    {% set updated=h.render_datetime(pkg.data_last_modified) %}
    {% set entry_type=pkg.entry_type.capitalize() if pkg.entry_type else "Dataset" %}
<p class="gla-informational">
        {{ entry_type }} created {{ created }}{% if updated and updated != created %}, updated {{ updated }}{% endif %}
        by
        <a href={% url_for 'dataset_search', organization=pkg.organization.name %}>{{ pkg.organization.title }}</a>
    </p>

    {% if pkg.project_name %}
        <p class="gla-informational">
            {% if pkg.project_url %}
                Part of <a href="{{pkg.project_url}}">{{ pkg.project_name }}</a>
            {% else %}
                Part of {{ pkg.project_name }}
            {% endif %}
        </p>
    {% endif %}

    {% if harvest_source_title %}
        <p class="gla-informational">
            Hosted by <a href="{{ h.get_pkg_dict_extra(pkg_dict=pkg_dict, key='upstream_url') }}">{{harvest_source_title}}</a>
        </p>
    {% endif %}


    {% if pkg.archived == 'true' %}
        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i>
            This dataset is no longer actively maintained.
            {% if pkg.archived_description %}
                {{h.render_markdown(h.get_translated(pkg, 'archived_description'))}}
            {% endif %}
        </div>
    {% endif %}

    {% if pkg.search_description %}
        <p><strong>{{ pkg.search_description }}</strong></p>
    {% endif %}

    {% if pkg.notes_with_markup %}
        <div class="notes embedded-content">
            {{ pkg.notes_with_markup|safe }}
        </div>
    {% endif %}

    {# {{ super() }} #}

{% endblock %}

{% block package_tags %}
{% endblock %}
